@font-face {
	font-family: "OpenSans";
	src: local("OpenSans"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: local("OpenSans"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans Light";
	src: local("OpenSans-Light"), url("../fonts/opensanslight.woff") format("truetype"), url("../fonts/opensanslight.woff") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.page-header {
	width: auto;
	height: auto;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.page-header__wrapper {
	background-color: rgba(29, 38, 49, 0.6);
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 20px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.page-header__logo {
	width: 50%;
	margin-left: 20px;
	margin-bottom: 20px;
}

.main-nav {
	width: 100%;
	-ms-flex-order: 3;
	order: 3;
}

.main-nav__toogle {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	height: 26px;
	width: 50px;
	font-size: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: inherit;
}

.main-nav--closed .main-nav__toogle::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 4px;
	background-color: #ffffff;
	box-shadow: 0 11px 0 0 #ffffff, 0 22px 0 0 #ffffff;
}

.main-nav--opened .main-nav__toogle {
	top: 20px;
	right: 30px;
}

.main-nav--opened .main-nav__toogle::before,
.main-nav--opened .main-nav__toogle::after {
	content: "";
	position: absolute;
	top: 10px;
	right: -2px;
	width: 30px;
	height: 4px;
	background-color: #ffffff;
}

.main-nav--opened .main-nav__toogle::before {
	transform: rotate(45deg);
	box-shadow: none;
}

.main-nav--opened .main-nav__toogle::after {
	transform: rotate(-45deg);
}

.main-nav__wrapper {
	width: 100%;
}

.main-nav__wrapper--closed {
	display: none;
}

.main-nav__wrapper--opened {
	display: block;
}

.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 32px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 -1px 0 0 #000000;
}

.main-nav__item a[href]:hover {
	color: #d22856;
}

.main-nav__item a[href]:active {
	color: #5f3650;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.application {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-direction: column;
	flex-direction: column;
}

.application__title {
	display: none;
}

.application__hand {
	position: relative;
	width: auto;
	min-height: 395px;
}

.application__hand img {
	position: absolute;
	bottom: 0;
	left: 0;
}

.application__wrapper {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	background-color: #263240;
}

.application__wrapper a {
	margin-top: 30px;
}

.application__list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.application__item {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	margin: 0 8px;
}

.application__link {
	display: block;
	height: 100%;
	font-size: 0;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
}

.application__link--mac {
	background-image: url('../img/logo-apple.svg');
}

.application__link--android {
	background-image: url('../img/logo-android.svg');
	background-position: center 11px;
}

.application__link--wp {
	background-image: url('../img/logo-microsoft.svg');
	background-position: center 14px;
}

.application__text {
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
}

.btn {
	padding: 9px 40px;
	font-size: 18px;
	line-height: 32px;
	font-family: "OpenSans", sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 30px;
	text-align: center;
}

.btn:hover {
	background-color: #ffffff;
	color: #d22856;
}

.btn:active {
	background-color: #ffffff;
	color: rgba(210, 40, 86, 0.4);
}

.information {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-image: linear-gradient(175deg, #fff 24%, #f2f2f2 24%);
}

.information__title {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 115px;
	font-family: "OpenSans Light", sans-serif;
	font-size: 24px;
	line-height: 32px;
	font-weight: normal;
	color: #283645;
	text-align: center;
}

.information__title span {
	display: inline-block;
	margin-bottom: 22px;
}

.information__items {
	width: 100%;
	text-align: center;
}

.information__images {
	font-size: 0;
	width: 100%;
	height: auto;
	text-align: center;
}

.information__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.information__item {
	font-size: 0;
	margin-bottom: 25px;
}

.information__item:last-child {
	margin-bottom: 40px;
}

.information__item-title {
	width: 100%;
	display: inline-block;
	font-family: "OpenSans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.information__text {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	max-width: 280px;
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}

.information__image {
	display: inline-block;
}

.information__image:not(:last-child) {
	display: none;
}

.research {
	display: none;
	background-color: #ffffff;
}

.reviews {
	background-color: white;
	margin-top: -40px;
	position: relative;
}

.reviews__list {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 45px;
}

.reviews__item {
	display: none;
	margin-bottom: 35px;
	padding-left: 20px;
	padding-right: 20px;
}

.reviews__item--active {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
}

.reviews__author-addition {
	display: none;
}

.reviews__author-name {
	width: 100%;
	text-align: center;
	font-family: "OpenSans", sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.reviews__quote {
	margin: 0;
	max-width: 280px;
	text-align: center;
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
	color: #283645;
}

.reviews__controls {
	display: none;
}

.slider__toggles {
	width: auto;
	text-align: center;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 35px;
}

.slider__toggle {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	margin: 6px 5px;
	background-color: rgba(40, 54, 69, 0.3);
	border-radius: 50%;
	cursor: pointer;
}

.slider__toggle:hover {
	background-color: rgba(40, 54, 69, 0.7);
}

.slider__toggle:active {
	background-color: rgba(40, 54, 69, 0.1);
}

.slider__toggle--active {
	background-color: #ffffff;
	border: 3px solid #283645;
}

.price {
	width: 100%;
	padding-top: 135px;
	background-image: linear-gradient(175deg, #fff 10%, #f2f2f2 10%);
}

.price__wrapper {
	width: 320px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
}

.price__items {
	background-color: #ffffff;
	width: 1120px;
	border-collapse: collapse;
	margin-left: -540px;
	margin-bottom: 40px;
}

.price__name {
	width: 25%;
	background-color: #283645;
	border: 2px solid #e5e5e5;
}

.price__name--hit {
	background-image: url("../img/hit.png");
	background-position: top left;
	background-repeat: no-repeat;
}

.price__name-title {
	display: block;
	padding-top: 20px;
	font-size: 18px;
	line-height: 30px;
	font-family: "OpenSans", sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.price__count {
	display: block;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: 30px;
	font-family: "OpenSans Light", sans-serif;
	font-weight: normal;
	color: #ffffff;
}

.price__option {
	border: 2px solid #e5e5e5;
	text-align: left;
}

.price__option-name {
	display: block;
	padding-left: 25px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 14px;
	line-height: 30px;
	font-family: "OpenSans Light", sans-serif;
	font-weight: normal;
	color: #283645;
	text-transform: uppercase;
}

.price__marker {
	display: inline;
	margin: 0 auto;
	position: relative;
	width: 36px;
	height: 36px;
}

.price__marker--yes::before {
	display: block;
	content: "";
	position: absolute;
	top: -30px;
	left: 230px;
	width: 28px;
	height: 3px;
	background-color: #3dc644;
	transform: rotate(-45deg);
}

.price__marker--yes::after {
	display: block;
	content: "";
	position: absolute;
	top: -30px;
	left: 228px;
	width: 3px;
	height: 15px;
	background-color: #3dc644;
	transform: rotate(-45deg);
}

.price__marker--no::after {
	display: block;
	content: "";
	position: absolute;
	top: -33px;
	left: 218px;
	width: 35px;
	height: 3px;
	background-color: #f25b26;
	transform: rotate(45deg);
}

.price__marker--no::before {
	display: block;
	content: "";
	position: absolute;
	top: -33px;
	left: 218px;
	width: 35px;
	height: 3px;
	background-color: #f25b26;
	transform: rotate(-45deg);
}

.contacts {
	width: 100%;
}

.contacts__title {
	display: block;
	font-size: 24px;
	line-height: 32px;
	font-family: "OpenSans Light", sans-serif;
	font-weight: normal;
	color: #283645;
	text-align: center;
}

.contacts__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 40px;
}

.contacts__item b {
	display: block;
	margin-top: 20px;
	font-size: 18px;
	line-height: 24px;
	font-family: "OpenSans", sans-serif;
	font-weight: bold;
	color: #283645;
}

.contacts__link {
	font-size: 24px;
	line-height: 32px;
	font-family: "OpenSans Light", sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #d22856;
}

.contacts__map {
	position: relative;
	width: 100%;
	height: 200px;
}

.contacts__map-decorator {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 35px;
}

#map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: grey url("../img/bg-map-mobile@1x.jpg") top center no-repeat;
	background-position: center -446px;
}

img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 700px) {

.page-header {
	background-image: url("../img/bg-back-tablet@1x.jpg");
}

.page-header__wrapper {
	padding-top: 27px;
}

.page-header__logo {
	margin-left: 40px;
	margin-bottom: 43px;
	width: 147px;
	height: 40px;
}

.main-nav__toogle {
	top: 40px;
	right: 40px;
}

.main-nav--opened .main-nav__toogle::before,
.main-nav--opened .main-nav__toogle::after {
	top: 33px;
	right: 20px;
}

.application {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.application__hand {
	padding-top: 0;
	width: 50%;
	height: auto;
	background-color: transparent;
	background-image: none;
}

.application__hand img {
	left: -50%;
	z-index: 1;
}

.application__wrapper {
	position: relative;
	z-index: 2;
	width: 50%;
	background-color: transparent;
}

.application__title {
	display: block;
	font-size: 40px;
	vertical-align: 52px;
	margin-top: 95px;
	margin-bottom: 0;
	font-family: "OpenSans Light", sans-serif;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
}

.application__text {
	margin-top: 75px;
	margin-bottom: 110px;
	font-family: "OpenSans Light", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
}

.information {
	background-image: linear-gradient(175deg, #fff 38%, #f2f2f2 38%);
}

.information__title {
	margin-bottom: 50px;
	font-size: 40px;
	line-height: 52px;
}

.information__list {
	padding-top: 70px;
}

.information__title span {
	display: inline;
	margin: 0;
}

.information__title br:first-child {
	display: none;
}

.information__items {
	width: 50%;
	-ms-flex-order: 3;
	order: 3;
	text-align: left;
}

.information__item:last-child {
	margin-bottom: 0;
}

.information__images {
	width: 50%;
	-ms-flex-order: 2;
	order: 2;
}

.information__text {
	text-align: left;
}

.research {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: auto;
}

.research__timer {
	width: 50%;
	min-height: 275px;
	text-align: center;
	margin-top: 55px;
	margin-bottom: 55px;
	background-image: url("../img/icon-timer-tablet.png");
	background-repeat: no-repeat;
	background-size: 240px 276px;
	background-position: center;
}

.research__time {
	font-family: "OpenSans", sans-serif;
	font-size: 96px;
	line-height: 150px;
	font-weight: bold;
	color: #d22856;
	margin: 0 auto;
	margin-top: 80px;
}

.research__content {
	margin-top: 60px;
	width: 50%;
}

.research__title {
	font-family: "OpenSans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000;
}

.research__text {
	max-width: 300px;
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #283645;
}

.research__link {
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #d22856;
}

.research__link:hover {
	color: #283645;
}

.research__link:active {
	color: rgba(40, 54, 69, 0.3);
}

.reviews {
	margin-top: 0;
}

.reviews__author-addition {
	display: block;
	-ms-flex-order: 3;
	order: 3;
	width: 100%;
	text-align: center;
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
}

.reviews__author-name {
	-ms-flex-order: 2;
	order: 2;
	margin-top: 40px;
	margin-bottom: 0;
	font-size: 20px;
}

.reviews__quote {
	max-width: 620px;
	font-size: 18px;
}

.price {
	padding-top: 105px;
	background-image: linear-gradient(175deg, #fff 20%, #f2f2f2 20%);
	padding-bottom: 30px;
}

.price__wrapper {
	width: 620px;
	overflow: visible;
	margin: 0 auto;
}

.price__items {
	width: 100%;
	margin-left: auto !important;
}

.price__items tr:first-child {
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.price__name-title {
	font-size: 16px;
	padding-top: 10px;
}

.price__count {
	font-size: 18px;
	padding-bottom: 10px;
}

.price__option-name {
	font-size: 14px;
	padding-left: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
	text-transform: none;
}

.price__option-name--hidden {
	display: none;
}

.price .slider__toggles {
	display: none;
}

.price__marker {
	display: block;
}

.price__marker--yes::before {
	top: 18px;
	left: 11px;
}

.price__marker--yes::after {
	top: 16px;
	left: 9px;
}

.price__marker--no::after {
	top: 16px;
	left: 0;
}

.price__marker--no::before {
	top: 16px;
	left: 0;
}

.contacts__list {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.contacts__item {
	width: 50%;
}

.contacts__item:last-child {
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
}

.contacts__title {
	font-size: 40px;
	line-height: 52px;
}

.contacts__map {
	height: 380px;
}

.contacts__map-decorator {
	height: 70px;
}

#map {
	background-image: url("../img/bg-map-tablet@1x.jpg");
	background-size: auto 848px;
	background-position: center -343px;
}

.page-footer {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.page-footer__logo {
	margin-left: 5.5%;
}

.page-footer__logo a {
	display: block;
	height: 100%;
}

.page-footer__logo a:hover .page-footer__logo--pink path {
	fill: #d22856;
}

.page-footer__logo a:active .page-footer__logo--pink path {
	fill: #bec2c7;
}

.page-footer__logo a:active .page-footer__logo--glasses {
	fill: #f4cad5;
}

.page-footer__copyright {
	font-size: 0;
	margin-right: 5.5%;
}

.page-footer__text {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding-top: 5px;
	font-family: "OpenSans Light", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #283645;
}

.page-footer__copyright-link {
	display: inline-block;
	padding-top: 10px;
	vertical-align: middle;
}

.page-footer__copyright-link:hover .page-footer__copyright-link--logo {
	fill: #283645;
}

.page-footer__copyright-link:active .page-footer__copyright-link--logo {
	fill: #bec2c7;
}

.page-footer__social {
	font-size: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
}

.social__link {
	display: inline-block;
	width: 44px;
	height: 44px;
	border: 3px solid #e9ebec;
	border-radius: 50%;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.social__link:last-child {
	margin-right: 0;
}

.social__link--tw {
	background-image: url("../img/icon-twitter.svg");
}

.social__link--tw:active {
	background-image: url("../img/icon-twitter_down.svg");
}

.social__link--fb {
	background-image: url("../img/icon-facebook.svg");
}

.social__link--fb:active {
	background-image: url("../img/icon-facebook_down.svg");
}

.social__link--youtube {
	background-image: url("../img/icon-youtube.svg");
}

.social__link--youtube:active {
	background-image: url("../img/icon-youtube_down.png");
}

.social__link:hover {
	border-color: #283645;
}

.social__link:active {
	border-color: #e9ebec;
}

.page-footer__logo--desktop {
	display: none;
}

}

@media (min-width: 960px) {

.page-header {
	background-image: url("../img/bg-back-desktop@1x.jpg");
}

.main-nav__toogle {
	display: none;
}

.main-nav__wrapper {
	display: block;
}

.page-header__logo {
	margin-left: 11%;
	margin-right: 11%;
	width: auto;
}

.main-nav {
	width: auto;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-right: 11%;
}

.main-nav__list {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-nav__item a {
	padding: 0;
	padding-top: 13px;
	font-size: 18px;
	line-height: 32px;
	color: #ffffff;
	text-align: center;
	box-shadow: none;
}

.application__hand {
	width: 60%;
}

.application__hand img {
	left: -10%;
}

.application__wrapper {
	width: 40%;
}

.application__title {
	margin-top: 115px;
}

.application__wrapper a {
	margin-top: 65px;
}

.application__text {
	margin-top: 130px;
	margin-bottom: 120px;
}

.information {
	-ms-flex-direction: column;
	flex-direction: column;
	background-image: linear-gradient(175deg, #fff 43%, #f2f2f2 43%);
}

.information__title {
	margin-top: 80px;
	margin-bottom: 80px;
}

.information__image:not(:last-child) {
	display: inline;
}

.information__items {
	width: auto;
	margin-left: 11%;
	margin-right: 11%;
	text-align: center;
}

.information__images {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-left: 11%;
	margin-right: 11%;
}

.information__list {
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.information__text {
	max-width: 240px;
	display: block;
	margin-top: 25px;
	text-align: center;
	font-size: 18px;
	line-height: 32px;
}

.information__item-title {
	max-width: 240px;
	display: block;
	font-size: 30px;
	line-height: 30px;
}

.research {
	background-color: #f2f2f2;
}

.research__title br {
	display: none;
}

.research__timer {
	margin-left: 11%;
	margin-top: 75px;
	min-height: 375px;
	background-image: url("../img/icon-timer-desktop.png");
	background-repeat: no-repeat;
	background-size: 297px 344px;
	background-position: center;
}

.research__time {
	margin-top: 140px;
	font-size: 120px;
	line-height: 186px;
}

.research__content {
	margin-right: 11%;
	margin-top: 160px;
	margin-bottom: 115px;
}

.research__text {
	font-size: 18px;
	line-height: 30px;
}

.research__link {
	font-size: 18px;
	line-height: 30px;
}

.reviews__quote {
	max-width: 680px;
}

.reviews__author-name {
	font-size: 24px;
}

.reviews__author-addition {
	font-size: 18px;
}

.reviews__list {
	padding-top: 180px;
	position: relative;
}

.reviews__list::before {
	content: "";
	position: absolute;
	top: 70px;
	left: 48%;
	width: 79px;
	height: 63px;
	background-image: url("../img/icon-quotes.svg");
}

.slider__toggles {
	display: none;
}

.slider__controls {
	display: block;
	width: 100%;
	height: 100%;
}

.slider__control {
	display: block;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	border-top: 3px solid #bec2c7;
	border-left: 3px solid #bec2c7;
	position: absolute;
	top: 57%;
	cursor: pointer;
}

.slider__control:hover {
	border-color: #7e868f;
}

.slider__control:active {
	border-color: rgba(190, 194, 199, 0.5);
}

.slider__control--prev {
	left: 11%;
	transform: rotate(-45deg);
}

.slider__control--next {
	right: 11%;
	transform: rotate(-225deg);
}

.price {
	padding-top: 185px;
	padding-bottom: 100px;
	background-image: linear-gradient(175deg, #fff 23%, #f2f2f2 23%);
}

.price__wrapper {
	width: 940px;
}

.price__name-title {
	padding-top: 20px;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.price__count {
	padding-bottom: 20px;
	font-size: 24px;
	line-height: 30px;
}

.price__option-name {
	padding-left: 25px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 18px;
	line-height: 30px;
}

.contacts__list {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-left: 11%;
	padding-right: 11%;
}

.contacts__item {
	width: 100%;
}

.contacts__item:last-child {
	margin-top: 0px;
	-ms-flex-order: 2;
	order: 2;
}

.contacts__item:nth-child(2) {
	-ms-flex-order: 3;
	order: 3;
}

.contacts__title {
	font-size: 50px;
	line-height: 62px;
}

.contacts__map {
	height: 505px;
}

.contacts__map-decorator {
	height: 105px;
}

#map {
	background-image: url("../img/bg-map-desktop@1x.jpg");
	background-size: auto 976px;
	background-position: center -280px;
}

.page-footer__logo--desktop {
	display: inline;
}

.page-footer__logo--tablet {
	display: none;
}

.page-footer__text {
	font-size: 18px;
}

}

@media (max-width: 699px) {

.page-footer--mobile-hidden {
	display: none;
}

}

