.application {
	.flexbox();
	width: 100%;
	flex-direction: column;
}

.application__title {
	display: none;
} 

.application__hand{
	width: auto;
	min-height: 395px; //временно
}

.application__wrapper{
	.flexbox();
	width: auto;
	flex-direction: column;
	align-items: center;
	background-color: #263240;
}

.application__wrapper a{
	margin-top: 30px;
}

.application__list {
	.ul-clear;
	font-size: 0;
}

.application__item {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	margin: 0 8px;
}

.application__link {
	display: block;
	height: 100%;
	font-size: 0;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;

	&--mac {
	    background-image: url('../img/logo-apple.svg');
	  }

	&--android {
	    background-image: url('../img/logo-android.svg');
	    background-position: center 11px;
	  }

	&--wp {
	    background-image: url('../img/logo-microsoft.svg');
	    background-position: center 14px;
	  }
}

.application__text{
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 24px;
	color:@color-white;
	text-align: center;
}

@media @tablet-widths{

	.application {
		flex-direction: row-reverse;
	}

	.application__hand{
		width: 50%;
		height: auto;
		background-color: transparent;
		background-image: none;
	}

	.application__wrapper{
		width: 50%;
		background-color: transparent;
	}
	
	.application__title {
		display: block;
		font-size: 40px;
		vertical-align: 52px;
		margin-top: 95px;
		margin-bottom: 0;
		font-family: "OpenSans Light", sans-serif;
		font-weight: normal;
		color: @color-white;
		text-align: center;
	} 

	.application__text{
		margin-top: 75px;
		margin-bottom: 110px;
		font-family: "OpenSans Light", sans-serif;
		font-weight: normal;
		font-size: 18px;
		line-height: 32px;
	}
}

@media @desktop-widths {
	.application {
	}

	.application__hand{
		width: 60%;
	}

	.application__wrapper{
		width: 40%;
	}

	.application__title {
		margin-top: 115px;
	} 

	.application__wrapper a{
		margin-top: 65px;
	}

	.application__text{
		margin-top: 130px;
		margin-bottom: 120px;
	}
}